.item{
    padding: 0 20px 20px 20px;
    text-align: left;
}
.item:hover{
    color:#00000071;
    cursor: pointer;
}
.contents> h2{
    font-weight: 600;
    font-size: 1.2rem;
}
.contents > p{
    margin:0;
    padding:10px 0;
    width: 85%;
    height: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 300;
    font-size: 15px;
}
.author{
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 0.6px solid #C4C4C4;
}
.author p{
    margin: 30px 0 0 0;
    display: inline-block;
}
.author p:first-child{
    text-transform:capitalize;
    float: left;
    font-size: 15px;
    color: #353737;
}
.author p:nth-child(2){
    margin-left: 25px;
    font-weight: 300;
    font-size: 13px;
    color: #6a6a6a;
}